body {
  background-color: whites;
    /*(7) changed background and font colors*/
  color: #000000;
    /* (2)change to a master font size*/
    font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
    /*(5) See HTML page for images*/
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
  list-style-type: none; 
}

/*(6) changed state of links*/

.right{
    text-decoration-color: black;
}

a:visited { 
      color: darkblue; } 
a:hover { 
      color:orange; }
a {
    text-decoration: none;
}
      

li {
  float: right;
  padding: 30px;
}

/*(4) added line height*/
.container {
  padding-top: 100px;
  margin: 0 auto;
  width: 50%;
  line-height: 1.5;
}

/*(3) headline for importance*/
h1{
    font-weight: 300;
    text-transform: uppercase;
}

/*(3)changed for importance*/
figcaption {
    font-size: .90em;
    padding-bottom: 10px;
}

/*(3)changed for importance*/
h1 {
    font-weight: bold;
    font-size: 1.5em;
    padding-top 20px;
}

/*new addition*/
h3{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*(3) name size*/
.author{
    font-weight: 200;
    font-size: 1.5em;
    font-style: italic;
    padding-bottom: 10px;
}
/*(3/4)changed for importance*/
.story-text {
    text-align: left;
    line-height: 1.5em;
    font-size: 1em;
}
/*(3)added for spacing*/
p {
    margin-top: 8px;